*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

form{
  width:4in;
  min-height:5in;
  background: rgb(0, 165, 116);
  padding:20px;
  font-family: sans-serif;
}
label{
  display: block;
  padding: 3px 0;
}
textarea{
  width:200px;
  height:90px;
  padding-left: 2px;
  padding-top: 2px;
  font-size:20px;
}
.input{
  border-radius: 20px;
  height:30px;
  width:200px;
  margin-bottom: 20px;
  border:2px solid black;
  padding-left: 10px;
  font-size: 16px;
}
fieldset{
  margin-top: 20px;
  padding:10px 0;
  width:200px;
}
legend{
  margin-left: 20px;
  padding:0 5px;
}
input[type='radio'],
input[type='checkbox']{
  margin: 0 10px;
}
button{
  margin-top: 20px;
  font-size: 20px;
  padding:10px;
  cursor: pointer;
  width:200px;
  border-radius: 20px;
  height:40px;
  border:2px solid grey;
  display: grid;
  place-content: center;
}
input::placeholder{
  padding-left: 10px;
  font-size: 15px;
}
h1{
  text-align: center;
}